/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 5, 2016, Aug 5, 2016 2:06:57 PM
    Author     : Russ
*/




/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:375px iPhone6 Portrait
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:375px){
    .nav {
        .menu-icon {
            .navicon{
                left: 61px;
                top: -5px;
            }
        }
    }
    .page-template-intro-page{
    
        .mainSection{
            .mainSectionContainer{
                padding:0 2em;
                ul.leftTabs{
                    h2{
                        letter-spacing: 1px;
                    } 
                }
                ul.rightTabs{
                    
                }
            } 
        }       
    }
}


/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:400px  iPhone6 Plus Portrait
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:400px){
    .nav {
        .menu-icon {
            .navicon{
                left: 96px;
                
            }
        }
    }
    .page-template-intro-page{
    
        .mainSection{
            .mainSectionContainer{
                .introContainer{
                    ul.leftTabs{
                        @include span-columns(3);
                    }
                    ul.rightTabs{
                        @include span-columns(9);
                        @include omega();
                        min-height: 34em;
                        li{
                            h2{
                                margin-top:2em;
                            }
                        }
                    }
                }
                
            } 
        }       
    }
}


/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:568px   iPhone5 Landscape
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:568px){
    .mobileOnly{
        display:none;
    }
    .desktopOnly{
        display:block;
    }
    .nav{
        margin-left:175px;
    }
    .homeSection {
        .homeBanner{
            height: 17em;
            h2{
                margin-top:2em;
            }
        }
        .iconArea {
            .homeIcons{
                @include span-columns(4);
                border-right: solid 1px $line-gray;
                height:17em;
                img{
                    height:10em;
                }
            }
            .homeIcons:nth-child(3){
                @include span-columns(4);
                @include omega();
                border-right:none;
            }
            button{
                margin-top:4em;
            }
        }
        button{
            width:18em;
        }
        .midSection{
            width:100%;
            height:21em;
            background: url(./assets/images/bannerImage-2.png);
            background-size: cover;
            background-repeat: no-repeat;
            .leftSide{
                @include span-columns(6);
                padding:0 1em;
            }
            .rightSide{
                background:transparent;
                @include span-columns(6);
                @include omega();
                img{
                    margin-top:15em;
                    padding: 0 4em;
                }
            }
        }
        .lowerSection{
            display:block;
            width:90%;
            height:28em;
            margin: 3em auto 0;
            border-top: solid 1px $line-gray;
            border-bottom: solid 1px $line-gray;
            .leftSide2{
                //@include span-columns(6);
                width:50%;
                display: block;
                float: left;
                padding: 3em 0 0 0;
                border-right:solid 1px $line-gray;
                height:28em;
                img{
                    padding:0 15px;
                }
                h2, p{
                   padding:0 15px; 
                   
                }
            }
            .rightSide2{
                //@include span-columns(6);
                //@include omega();
                width:50%;
                display: block;
                float: left;
                padding: 3em 0 0 0;
                img{
                    padding:0 15px;
                }
                h2, p{
                   padding:0 15px; 
                }
            }
        }
        .formArea{
            .formHeader{
                @include span-columns(8);
                @include shift(2);
                .topRow{
                    display:block;
                    width: 27em;
                    margin: 0 auto;
                    span.icon{
                    position:relative;
                    //left: 12em;
                }
                h2{
                    //text-align: center;
                }
                }
            }
            
            .formButtons{
                span.borderLine{
                    width:60%;
                    margin: 0 auto;
                }
            }
            .formContent{
                padding:0 3em;
            }
        }
    }//homeSection
    .mainSection{
        
        .formArea{
            @include outer-container;
            display:block;
            margin-top:4em;
            
            .formHeader{
                @include span-columns(8);
                @include shift(2);
                .topRow{
                    display:block;
                    width: 27em;
                    margin: 0 auto;
                    span.icon{
                    position:relative;
                    //left: 12em;
                }
                h2{
                    //text-align: center;
                }
                }
            }
            
            .formButtons{
                display:block;
                //border-right:solid 1px $line-gray;
                span.borderLine{
                    width:60%;
                    margin: 1em auto 0;
                }
            }
            .formContent{
                padding:0 3em;
            }
        }
        .lowerSection{
            display:block;
            width:90%;
            height:28em;
            margin: 3em auto 0;
            border-top: solid 1px $line-gray;
            border-bottom: solid 1px $line-gray;
            margin-bottom: 7em;
            .leftSide2{
                //@include span-columns(6);
                width:50%;
                display: block;
                float: left;
                padding: 3em 0 0 0;
                border-right:solid 1px $line-gray;
                height:28em;
                img{
                    padding:0 15px;
                }
                h2, p{
                   padding:0 15px; 
                   
                }
            }
            .rightSide2{
                //@include span-columns(6);
                //@include omega();
                width:50%;
                display: block;
                float: left;
                padding: 3em 0 0 0;
                img{
                    padding:0 15px;
                }
                h2, p{
                   padding:0 15px; 
                }
            }
        }
    }//mainSection
    .page-template-why-page{
        .mainSection{
            .mainSectionContainer{
                .mainContent{
                    p{
                        padding: 0 4em;
                    }
                }
                .customPostArea{
                    padding:0em;
                    margin-top:-5em;
                    .customPost{
                        margin-top:3em;
                        .leftSide{
                            @include span-columns(6);
                        }
                        .rightSide{
                            @include span-columns(6);
                            @include omega();
                            margin-top:6em;
                            img{
                                margin-top: -6em;
                            }
                        }
                    }

                }
                .lowerText{
                    @include span-columns(6);
                    @include shift(3);
                }
            }//mainSectionContainer
        }//mainSection
    }
    .page-template-shipping-page{
        .mainSection{
            
            .formArea{
                .formButtons{
                    border-right:solid 1px $line-gray;
                    span.borderLine{
                        
                        margin: 3em auto 0;
                    }
                }
            }
            
        }
    }
    .page-template-intro-page {
        .mainSection {
            .mainSectionContainer {
                ul.rightTabs{
                    min-height: 26em;
                    padding: 0 4em;
                }
            }
        }
    }
    .page-template-about-page{
        .mainSection{
            .mainSectionContainer{
                .leftAbout{
                    img{
                        width:6em;
                    }
                    
                }
                .rightAbout{
                    
                }
            }
        }
    }
}


/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:660px iPhone6 Landscape
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:660px){
    .nav{
        margin-left:270px;
    }
    .homeSection{
        .homeBanner{
            height:20em;
            h2{
                margin-top:3em;
            }
        }
        .lowerSection{
            .leftSide2{
                h2, p{
                   padding: 0 25px 
                }
                img{
                   padding: 0 25px 
                }
            }
            .rightSide2{
                h2, p{
                   padding: 0 25px 
                }
                img{
                   padding: 0 25px 
                }
            }
        }
        
    }
    .mainSection{
        .lowerSection{
            .leftSide2{
                h2, p{
                   padding: 0 25px 
                }
                img{
                   padding: 0 25px 
                }
            }
            .rightSide2{
                h2, p{
                   padding: 0 25px 
                }
                img{
                   padding: 0 25px 
                }
            }
        }
    }
    footer input.button, .gform_wrapper .gform_page_foot.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_er input[type=submit]{
        border-radius: 0;
        margin: 0 auto !important;
        display: block !important;
        width: 18em !important;
    }
}


/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:736px   iPhone6 Plus Landscape
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:736px){
    .nav{
        margin-left:332px;
       
    }
    .mainSection{
        span.pageTitle{
            margin-top: -6.5em;
        }
    }
    
}


/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:768px iPad Portrait
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:768px){
    .logo{
        @include span-columns(2);
        img{
            
        }
    }
    .nav{
        margin-left:0;
        @include span-columns(10);
        @include omega();
        
        
        ul.menu{
            display:flex;
            justify-content: space-around;
            margin-top:2em;
             ul{
                display:none;
                position: absolute;
                //top:30px;
                background:#fff;
                z-index:9999;

                li{
                    display:block;
                    float:none;
                    width:150px;
                    font-size:1em;
                    
                    a,visited{
                        padding: 10px 15px;
                    }
                }
            }
            li{
                border-right: 2px solid $line-gray;
                font-size: 1em;
                text-align: center;
                width:100%;
                font-size:.7em;
                text-transform: uppercase;
                height:3em;
                line-height:3em;
                a{
                   color:$dark-blue; 
                }
            }
            li:last-child{
                border-right: none;
            }
            li.current-menu-item>a{
                color:$light-blue;
                font-weight: 900;
            }
        }
    }
    .nav ul.menu li:hover > ul {
            display:block;
        }
    .homeSection{
        button{
            letter-spacing: 1px;
            width:20em;
        }
        .homeBanner{
            margin-top:-2em;
            h2{
                margin-top: 1.5em;
                font-size: 3em;
                letter-spacing: 2px;
            }
            button{
                width:20em;
                letter-spacing: 1px;
            }
        }
        .homeContentHeader{
            h2{
                letter-spacing: 2px;
            }
            h3{
                letter-spacing: 1px;
            }
        }
        .homeContent{
            @include span-columns(6);
            @include shift(3);
            p{
                font-size: 1.2em;
            }
        }
        .iconArea{
            .homeIcons{
                h2{
                    letter-spacing: 1px;
                }
            }
            button{
                margin-top: 3em;
                margin-bottom: 7em;
            }
        }
        .midSection{
            height:28em;
            .leftSide{
                margin-top:6em;
            }
            .rightSide{
                margin-top:6em;
                h2{
                    letter-spacing: 1px;
                }
                p{
                    letter-spacing: 1px;
                }
            }
        }
        .lowerSection{
            height:35em;
            .leftSide2{
                height:35em;
                img{
                    float:right;
                    margin-bottom: 3em;
                    width:326px;
                    height: auto;
                }
                h2{
                    letter-spacing: 2px;
                    font-size:1.8em;
                }
                p{
                    letter-spacing: 2px;
                    margin-bottom: 2em;
                }
                button{
                    float:right;
                    margin-right:14%
                }
            }
            .rightSide2{
                height:35em;
                img{
                    float:left;
                    margin-bottom: 3em;
                    width:326px;
                    height: auto;
                }
                h2{
                    letter-spacing: 2px;
                    font-size:1.8em;
                }
                p{
                    letter-spacing: 2px;
                    margin-bottom: 2em;
                }
                button{
                    float:left;
                    margin-left:14%
                }
            }
        }//lowerSection
        
    }//homesection
    .mainSection{
        .mainSectionContainer{
            span.contentHeader{
                display: block;
                padding: 0 4em;
            }
            .mainContent{
                padding:0 4em;
            }
            .lowerSection{
                height:35em;
                .leftSide2{
                    height:35em;
                    img{
                        float:right;
                        margin-bottom: 3em;
                        width:326px;
                        height: auto;
                    }
                    h2{
                        letter-spacing: 2px;
                        font-size:1.8em;
                    }
                    p{
                        letter-spacing: 2px;
                        margin-bottom: 2em;
                    }
                    button{
                        float:right;
                        margin-right:14%
                    }
                }
                .rightSide2{
                    height:35em;
                    img{
                        float:left;
                        margin-bottom: 3em;
                        width:326px;
                        height: auto;
                    }
                    h2{
                        letter-spacing: 2px;
                        font-size:1.8em;
                    }
                    p{
                        letter-spacing: 2px;
                        margin-bottom: 2em;
                    }
                    button{
                        float:left;
                        margin-left:14%
                    }
                }
            }
        
        }//lowerSection
        .formArea{
            .formButtons{
                span.borderLine{
                    height:8em;
                }
            }
        }
    }
    .footer{
        height:20em;
        img{
            margin:4em 3em;
        }
    }
}


/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:1024px       ipad Landscape
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:1024px){
    .logo{
        @include span-columns(3);
    }
    .nav{
        ;
        @include span-columns(9);
        @include omega();
        ul.menu{
            li{
                font-size: .8em;
            }
        }
        
    }
    
    .homeSection{
        .homeBanner{
            height:31em;
            margin-top:-1em;
            h2{
                margin-top: 2em;
                font-size: 4em;
            }
        }
        .homeContentHeader{
            h2{
                font-size:3.5em;
            }
            h3{
                font-size:1.2em;
            }
        }
        .homeContent{
            padding:0 2em;
        }
        .iconArea{
            .homeIcons{
                h2{
                    letter-spacing: 2px;
                }
            }
        }
        .midSection{
            height:39em;
            .leftSide{
                margin-top:8em;
                .mask{
                    width:500px;
                    height:550px;
                    margin-left:5em;
                    ul.images{
                        
                        li{
                            
                            span{
                                top:9em;
                                h2{
                                    font-size:2em;
                                    margin-bottom: 0;
                                }
                                p{
                                    font-size: 1.2em;
                                    letter-spacing: 1px;
                                }
                            }
                        }
                    }
                    
                }
                ul.triggers{
                    top: -37em;
                    width: 17em;
                    left:6.5em;
                    li{
                        margin:0 10px;
                    }
                }
            }
            .rightSide{
                margin-top:17em;
                img{
                    display:block;
                    margin: 16em auto 0;
                    width: 400px;
                    height: auto;
                }
            }
        }
        .lowerSection{
            
            height:43em;
            .leftSide2{
                height:43em;
                img{
                    width:460px;
                }
                 h2{
                    font-size: 2.5em;
                }
                p{
                    font-size: 1.5em;
                    margin-bottom: 1em;
                }
                button{
                    margin-right: 28%;
                }
            }
            .rightSide2{
                img{
                    width:460px;
                }
                h2{
                    font-size: 2.5em;
                }
                p{
                    font-size: 1.5em;
                    margin-bottom: 1em;
                }
                button{
                    margin-left: 28%;
                }
            }
        }
        .formArea{
             @include outer-container;       
            .formHeader{
                p{
                    letter-spacing: 2px;
                }
                .topRow{
                    width:38em; 
                    span.icon{
                        img{
                            height:3em;
                        }
                    }
                    h2{
                        font-size: 3.5em;
                    }
                    
                }
            }
            .formContent{
                padding: 0 6em 0 0em;
            }
        }
    } //homeSection  
    .mainSection{
        span.pageTitle{
            position: relative;
            top:-3.5em;
            h1{
                font-size: 3.5em;
            }
        }
        .mainSectionContainer{
            span.contentHeader{
                h2{
                    font-size: 3.5em;
                }
                h3{
                    font-size: 1.1em;
                    letter-spacing: 2px;
                }
            }
            
            .formArea{
                    
                .formHeader{
                    p{
                        letter-spacing: 2px;
                    }
                    .topRow{
                        width:38em; 
                        span.icon{
                            img{
                                height:3em;
                            }
                        }
                        h2{
                            font-size: 3.5em;
                        }

                    }
                }
                .formContent{
                    padding: 0 6em 0 0em;
                }
            }
            .lowerSection{

                height:43em;
                .leftSide2{
                    height:43em;
                    img{
                        width:460px;
                    }
                     h2{
                        font-size: 2.5em;
                    }
                    p{
                        font-size: 1.5em;
                        margin-bottom: 1em;
                    }
                    button{
                        margin-right: 28%;
                    }
                }
                .rightSide2{
                    img{
                        width:460px;
                    }
                    h2{
                        font-size: 2.5em;
                    }
                    p{
                        font-size: 1.5em;
                        margin-bottom: 1em;
                    }
                    button{
                        margin-left: 28%;
                    }
                }
            }
        }
    }//mainContent
    .page-template-why-page{
        .mainSection{
            .mainSectionContainer{
                p{
                    font-size: 1.2em;
                }
                @include outer-container;
                padding:0 8em;
                .customPostArea{
                    padding: 0 6em;
                    img{
                        height:14em;
                    }
                    h2{
                        font-size: 1.2em;
                    }
                    
                }
            }
        }
    }
}


/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:1140px
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:1140px){
    .homeSection {
        .midSection {
            .midSectionContainer{
                @include outer-container;
                    .leftSide {
                    ul.triggers{
                        left: 2.5em;
                    }
                }
            }
                   
        }
        .lowerSectionContainer{
            @include outer-container;
        }
    }
    .mainContent{
        .lowerSectionContainer{
            @include outer-container;
        }
    }
    
}


/*-------------------------------------------------------------------------------------------*\
    RESPONSIVE      min-width:1240px
\*--------------------------------------------------------------------------------------------*/
@media only screen and (min-width:1240px){
    
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {


}




