/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2016, 7:17:32 AM
    Author     : Russ
*/

//Colors

$dark-blue:rgb(43, 56, 143);
$blue-trans:rgba(43, 56, 143, .9);
$light-blue:rgb(27, 117, 187);
$text-gray:rgb(128, 130, 133);
$line-gray:rgb(222, 222, 222);


//Fonts

@font-face {
	font-family: Lato;  
	src: url('./assets/fonts/Lato2OFL/Lato-Medium.ttf');  
	 
}